body
{
  
    height: 600;
    width: 800;
}
menu
{
    background-image: url(content/img/navigation-background.jpg);
    height: 30px;
    padding: 4px;
}
.header img
{
    margin-top: -40px;
    height: 120px;
    float: left;
}

a
{
    text-decoration: none;
    color:white;
    height: 30px;
    padding: 4px;
    margin-left: 120px;
    font-size: 18px;
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    text-align: center;
}

.centar 
{
    height: 420px;
    color:#192402;
    font-weight: bold;
    display: flex;
    text-align: justify;
}
.centar a
{
    color:#192402;
    text-decoration: underline;
}
.centar img
{
 width: 400px;;
 height: 300px;
}

footer
{
    background-color: #81b518;
    height: 30px;
    color:white;
    text-align:center;
}
