header
{
    height: 80px;
    padding: 0 50px;
    border-bottom: 2px solid black;margin-bottom: 10px
}
.navbar
{
    text-decoration: none;
    display: inline-block;
    vertical-align: center;
    float: right;
    margin: 20px;
    color: black;
}
.plav-content
{
    background-color: darkblue;
    height: 350px;
    padding: 50px
}
.tekst
{
    display: inline-block;
    float:left;
    margin-top: 100px;
    color: white
}
.plav-content img
{
    float: right;
}
.zelen-content
{
    background-color: rgb(62, 168, 62);
    height: 320px;
    padding: 0 50px;
    margin-top: 20px
}
.desno, .levo
{
    height: 150px;
    padding:10px 0
}
.desno img
{
    float:left;
    margin-right:10px; 
    border-radius: 25px; 
    height: 130px;
}
.levo img
{
    float:right;
    margin-right:10px; 
    border-radius: 25px;
    height: 130px;
}
.Contact
{
    height: 50px;
    padding: 0px 50px;
    margin-top: 10px;
    background-color: #9ff19c;
    color: white
}
.Contact h3
{
    float:right;
    font-size: large;
    margin-top: 15px;
    
}
.Contact h1
{
    float:left;
    margin-top: 7px;
    
}
.sivo
{
    background-color: lightgray;
    margin-top: 10px;
    height: 360px;
    padding: 20px;
}
.levastrana h1
{
    color:white;
}
iframe
{
    float: right;
    margin-top: -120px;
    margin-right: 50px;
}
#MapaTekst
{
    float: right;
    margin-top: 40px;
    clear: both;
    margin-right: 100px;
}
footer
{
    height: 80px;
    padding: 0 50px;
    border-top: 2px solid black;
    margin-top: 10px
}
footer p
{
    float: left;
}
.shablon
{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
    margin: 10px;
}
.shablon img
{
    margin-top: 10px;
}
.shablon h2
{
    text-align: center;
}
.sivo h1
{
    color:white;
    text-align: center;
    border-top: 2.3px  groove;
    border-bottom: 2.3px  groove;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sivo h2
{
    color:white;
    font-size:30px;
}
#CompanyTekst
{
    text-align: justify;
    font-weight: bold;
    font-size: 17px;
}
.Telo
{
    margin-left: 30px;
}
.shablon h2
{
    color: black;
}